@import "../../mixins", "../../variables";

.header {
    @include grid;
    padding: 24px;
    align-items: center;
    color: #fff;
    top: 0;
    position: fixed;
    height: 10rem;
    z-index: 1;
    width: 100%;
    background-color: #FFFFFF;

    &__logo {
        grid-column: span 2;
        justify-self: left;

        @media screen and (max-width: 700px) {
            grid-column: span 4;

            img {
                width: 100px;
                height: auto;
            }
        }
    }

    &__menu {
        // grid-column: 7 / span 6; // enable when portfolio and lang are implemented
        grid-column: 10 / span 3;
        justify-content: space-between;
        width: 100%;
        display: inline-flex;

        &__icon {
            filter: $filter-almond;

            &:hover {
                filter: $filter-brown;
            }
        }

        @media screen and (max-width: 700px) {
            grid-column: 5 / 13;
        }
    }

    li {
        display: inline;
        font-size: 1.5rem;

        a {
            color: $black;
            text-decoration: none;

            &:hover {
                color: $brown;
            }
        }

        &.active a {
            font-weight: 700;
            color: $brown;

            &:after {
                content: '*';
                color: $almond;
                font-size: 2rem;
                line-height: 0.5rem;
            }
        }


        @media screen and (max-width: 700px) {
            font-size: 1.25rem;


            &.active a {

                &:after {
                    font-size: 1.75rem;
                }
            }
        }
    }
}