//main colors
$black: #140801;
$brown: #813405;
$almond: #BA7F3B;

//svg filter colors
$filter-black: invert(7%) sepia(54%) saturate(479%) hue-rotate(338deg) brightness(95%) contrast(107%);
$filter-brown: invert(24%) sepia(81%) saturate(945%) hue-rotate(351deg) brightness(88%) contrast(103%);
$filter-almond: invert(52%) sepia(56%) saturate(528%) hue-rotate(352deg) brightness(92%) contrast(83%);