//main colors
$black: #140801;
$brown: #813405;
$almond: #ba7f3b;
$sand: #ead9c6;

//svg filter colors
$filter-black: invert(7%) sepia(54%) saturate(479%) hue-rotate(338deg)
  brightness(95%) contrast(107%);
$filter-brown: invert(24%) sepia(81%) saturate(945%) hue-rotate(351deg)
  brightness(88%) contrast(103%);
$filter-almond: invert(52%) sepia(56%) saturate(528%) hue-rotate(352deg)
  brightness(92%) contrast(83%);
$filter-sand: brightness(0) saturate(100%) invert(96%) sepia(5%) saturate(1464%)
  hue-rotate(323deg) brightness(96%) contrast(90%);
